// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// Figma colors:
$background: #2D2D2D;
$blue-light: #53B4D2;
$white: #ffffff;
$black: #000000;
$dark-green: #172A30;
$gray-medium: #727272;
$light-gray: #D7D7D7;
