<div class="card-comment">
  <h1>COMMENTS</h1>
    <% @location.feedbacks.each do |post| %>
    <div class="card-product">
      <div class="avatar-comment">
        <%= cl_image_tag post.user.photo.key %>
      </div>
      <div class="card-product-infos">
        <p><%= post.comment %></p>
      </div>
    </div>
    <% end %>
</div>
