<div class="card-comment">
  <h1>COMMENTS</h1>
  <div class="card-product">
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
    <div class="card-product-infos">
      <p>comments</p>
    </div>
  </div>
</div>
