// Specific CSS for your home-page
.hero {
  background-image: url("background-principal.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  position: relative;
  // background-position-y: top;
  // background-position-x: center;
}

.container-page {
  position: relative;
  bottom: -120px;
}

.hero h3 {
  color:#53B4D2;
  text-align: end;
  margin-right: 110px;
  font-weight: bold;
}

.hero h1 {
  color: white;
  text-align: end;
  margin-right: 110px;
}

.hero #btn-home {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  margin-right: 110px;
}

.btn-homeg {
  background: #172A30;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .btn-homeg :hover {
//   box-shadow: 0 0 15px rgb(255, 255, 255);
// }

#disco {
  width: 36.97px;
  height: auto;
  background: url(mirror-ball_1faa9.png);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-left: 10px;
}

#btn-text {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.408px;
  margin: 0;
  color: #FFFFFF;
}

#maocel {
  width: 400px;
  position: absolute;
  top: 0px;
  // left: 0%;
}

#infohome {
  width: 800px;
  position: absolute;
  top: 600px;
  left: 20%;
  opacity: 85%;
  // border-radius: 5%;
  // border-bottom: black;
}

#usefilter {
  height: 800px;
  width: 100%;
  background-color: #272727;
  align-items: center;
}

#header1 {
  margin-top: 120px;
  margin-bottom: 40px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  // width: 186px;
  // height: 36px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

#header2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  width: 613px;
  height: 100px;
  color: #53B4D2;
}

.info-box {
  box-sizing: border-box;
  border: 1px solid #595959;
  border-radius: 10px;
  width: 288px;
  height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.85);
  padding: 10px;
}

.inside-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #53B4D2;
}

.inside-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #CECECE;
}

#aboutus {
  height: 450px;
  width: 100%;
  background-color: #101010;
  display: flex;
}

#aboutusimg {
  height: 444px;
  width: 677px;
}

#aboutustext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 40px;
}

#aboutus1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: #53B4D2;
}

#aboutus2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #FFFFFF;
}

#aboutus3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CBCBCB;
}

#lastpart {
  background-image: url("djhome.jpg");
  background-size: cover;
  background-position: center;
  height: 593px;
}

#btn-last {
  left: 60px;
  bottom: -1450px;
  position: absolute;
}

// #btn-last :hover {
//   box-shadow: 0 0 15px rgb(255, 255, 255);
// }
