<div class="card-video">
  <h1>VIDEOS</h1>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @location.feedbacks.each do |feedback| %>
        <% if feedback.videos.attached? %>
          <div class="card">
            <%= video_tag(url_for(feedback.videos.first), controls: "") %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <p class="">
      slide to the right to see more videos!
    </p>
  </div>
</div>
