<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Onde estou?</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#"> AC - Acre <i class="uil uil-arrow-right"></i></a>
          <a href="#"> AL - Alagoas <i class="uil uil-arrow-right"></i></a>
	  			<a href="#"> AP - Amapá<i class="uil uil-arrow-right"></i></a>
          <a href="#"> AM - Amaazonas <i class="uil uil-arrow-right"></i></a>
          <a href="#"> BA - Bahia <i class="uil uil-arrow-right"></i></a>
          <a href="#"> CE - Ceará <i class="uil uil-arrow-right"></i></a>
          <a href="#"> DF - Distrito Federal <i class="uil uil-arrow-right"></i></a>
          <a href="#"> ES - Espírito Santo <i class="uil uil-arrow-right"></i></a>
          <a href="#"> GO - Goiás <i class="uil uil-arrow-right"></i></a>
          <a href="#"> MA - Maranhão <i class="uil uil-arrow-right"></i></a>
          <a href="#"> MT - Mato Grosso <i class="uil uil-arrow-right"></i></a>
          <a href="#"> MS - Mato Grosso do Sul <i class="uil uil-arrow-right"></i></a>
          <a href="#"> MG - Minas Gerais <i class="uil uil-arrow-right"></i></a>
          <a href="#"> PA - Pará <i class="uil uil-arrow-right"></i></a>
          <a href="#"> PB - Paraíba <i class="uil uil-arrow-right"></i></a>
          <a href="#"> PR - Paraná <i class="uil uil-arrow-right"></i></a>
          <a href="#"> PE - Pernambuco <i class="uil uil-arrow-right"></i></a>
          <a href="#"> PI - Piauí <i class="uil uil-arrow-right"></i></a>
          <a href="#"> RJ - Rio de Janeiro <i class="uil uil-arrow-right"></i></a>
          <a href="#"> RN - Rio Grande do Norte <i class="uil uil-arrow-right"></i></a>
          <a href="#"> RS - Rio Grande do Sul <i class="uil uil-arrow-right"></i></a>
          <a href="#"> RO - Rondônia <i class="uil uil-arrow-right"></i></a>
          <a href="#"> RR - Roraima <i class="uil uil-arrow-right"></i></a>
          <a href="#"> SC - Santa Catarina <i class="uil uil-arrow-right"></i></a>
          <a href="#"> SP - São Paulo <i class="uil uil-arrow-right"></i></a>
          <a href="#"> SE - Sergipe <i class="uil uil-arrow-right"></i></a>
          <a href="#"> TO - Tocantins <i class="uil uil-arrow-right"></i></a>
  </div>
</div>
