<div class="bar-position">
  <form action="<%= locations_path %>" class="search-bar">
    <input type="search" name="query" id="query" pattern=".*\S.*" required>
    <button class="search-btn" type="submit">
      <span>Search</span>
    </button>
  </form>
</div>
