.footer {
  background: black;
  opacity: 90%;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding-right: 10px;
  padding-left: 30px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
}

.footer-links {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 710px;
}

.footer-links a {
  color: $light-gray;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $gray-medium;
  opacity: 1;
}

.institutional a {
  color: white;
  text-decoration: none;
  margin: 4px;
  padding-left: 15px;
}

.institutional a:hover {
  color: $gray-medium;
  opacity: 1;
}

.footer-logo {
 padding-left: 10px;
}
