// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "login";
@import "signup";
@import "remember_password";
@import "bar_nightclub";

@import "sliders";
@import "searchbar";
@import "images";
@import "videos";
@import "comments";
@import "menu";
@import "show";
@import "edit_profile";
@import "locations";

@import "nav_loc";


html {
  height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #2D2D2D;
}
