// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "login";
@import "signup";
@import "remember_password";
@import "bar_nightclub";

@import "sliders";
@import "searchbar";
@import "images";
@import "videos";
@import "comments";
@import "menu";
@import "show";
@import "edit_profile";
@import "myfavorites";
@import "nav_loc";


html {
  height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #2D2D2D;
}


.location-cards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 400px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center; //vertica
  justify-content: center; //horizontal
    a {
      text-decoration: none;
    }
}

.card-product-mine {
  overflow: hidden;
  height: 180px;
  width: 350px;
  color: whitesmoke;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 20px rgba(228, 228, 228, 0.2);
  display: flex;
  border-radius: 5px;
}

// .index-card-mine{
//   height: 180px;
//   width: 150px;
//   background-size: cover;
// }

.card-product-mine img {
  height: 100%;
  width: 150px;
  background-color: rgb(0, 0, 0);;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.card-product-mine h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.card-product-mine p {
  font-size: 12px;
  text-align:justify;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-mine .card-product-infos-mine {
  padding: 16px;
}
