#title-favorites {
  text-align: center;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: #53B4D2;
  font-weight: bold;
  text-shadow: rgb(255, 255, 255) 0.0em 0.1em 0.2em;
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}
