.navbar-lewagon {
  justify-content: space-between;
  height:70px;
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 90%;
  position: fixed;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: auto;
  height: 135px;
  margin-left: 43px;
}

.locimg {
  width: auto;
  height: 20px;
}

.cont {
  height: 70px;
  width: 206px;
  background-image: url("logos/logo.png");
  background-size: cover;
  background-position: center;
}

.textcor {
  color: white;
}

#dropdownMenuButton1 {
  padding-right: 20px;
}
