.carousel-inner{
  padding: 1em;
  width: 200%;
  display: flex;
}
.card{
  margin: 0 .5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  width: 400px;
  height: auto;
  background: none;
}

.card-video h1 {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: #53B4D2;
  font-weight: bold;
  text-shadow: rgb(255, 255, 255) 0.0em 0.1em 0.2em;
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
  margin-top: 10px;
}
