.background_nav_loc {
  width: 100vw;
  height: 5em;
  border-bottom: 0.5px solid #BDBDBD;
  margin-top: 0;
  display: flex;
  align-items: end;
  justify-content: end;
}

.btn-nav-loc {
  height: 45px;
  width: 131px;
  border-radius: 9px;
  border: 1px solid white;
  background-color: #172A30;
  margin-right: 17px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
}

.bar-position-loc {
 margin: 0;
 padding: 0;
}

#btn-check-out {
  height: 45px;
  width: 131px;
  border-radius: 9px;
  border: 1px solid white;
  background-color: #172A30;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-right: 17px;
  margin-bottom: 10px;
  font-size: 20px;
  a {
    margin-top: 10px;
  }
}

.fa-heart {
  color: red;
  margin-right: 17px;
  margin-bottom: 32px;
}

.post-btn-nav-loc {
  height: 45px;
  width: 131px;
  border-radius: 9px;
  border: 1px solid white;
  background-color: #172A30;
  margin-right: 17px;
  margin-bottom: 10px;
  color: white;
}
